<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Social Places Test</title>
        <link rel="stylesheet" href='{{asset('css/style.css')}}'>
        <link rel="stylesheet" href='{{asset('font-awesome/font-awesome-4.7.0/css/font-awesome.min.css')}}'>
        <link rel="stylesheet" href='{{asset('bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css')}}'>
        <script src='{{asset('js/jquery-1.12.4.min.js')}}'></script>
        <script src='{{asset('bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js')}}'></script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    {% block javascripts %}
    {% endblock %}
</html>
